<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Aleksandra Gołębiowska"/>
<link rel="stylesheet" type="text/css" href="../css/styles.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=IBM+Plex+Sans:wght@100;200;300;400;500&display=swap" rel="stylesheet">
<title>Nazwa</title>