//=====================================
// Colors
//=====================================

$primary-font-color: #000000; // black
$secondary-font-color: #7E7E7E; // dark gray
$accents-color: #C7C7C7;

$background: white;
$card-background: #F4F4F4; // light gray

$primary-color: #63B5ED; // blue
$secondary-color: #9ED285; // green
$tertiary-color: #E84855; // pink

$button-hover: #F46A75;
$button-pressed: #D32C3A;

$to-do-color: #ffe04d;
$in-progress-color: #ff1b1b;
$done-color: #38eb49;

//=====================================
// Typography
//=====================================

$primary-font: ('IBM Plex Sans', sans-serif);

$title-font: ('Dosis', sans-serif);






