@charset "UTF-8";
/* line 45, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/partials/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/partials/_normalize.scss */
html {
  background: transparent;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../sass/partials/_normalize.scss */
html,
button,
input,
textarea,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/partials/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 2;
}

/* line 159, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../sass/partials/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../sass/partials/_normalize.scss */
button,
input,
textarea,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../sass/partials/_normalize.scss */
button, input, textarea {
  line-height: normal;
}

/* line 435, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
html textarea[type="button"],
input[type="reset"],
textarea[type="reset"],
input[type="submit"],
textarea[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled],
textarea[disabled] {
  cursor: default;
}

/* line 470, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../sass/partials/_normalize.scss */
input[type="search"], textarea[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, textarea[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, textarea[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../sass/partials/_normalize.scss */
input[type="checkbox"], textarea[type="checkbox"], input[type="radio"], textarea[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 1, ../sass/partials/_basicstyles.scss */
*:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* line 6, ../sass/partials/_basicstyles.scss */
html {
  min-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/partials/_basicstyles.scss */
body {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
}

/* line 27, ../sass/partials/_basicstyles.scss */
.center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* line 33, ../sass/partials/_basicstyles.scss */
.background {
  background: url("../../img/background.svg") no-repeat center center fixed;
}

/* line 37, ../sass/partials/_basicstyles.scss */
main {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 91vh;
}
/* line 49, ../sass/partials/_basicstyles.scss */
main .vr {
  height: 90%;
}

/* line 54, ../sass/partials/_basicstyles.scss */
.no-margin-top {
  margin-top: 0;
  justify-content: center;
  height: 100%;
}

/* line 60, ../sass/partials/_basicstyles.scss */
.filler {
  height: 3.4em;
}

/* line 64, ../sass/partials/_basicstyles.scss */
.not-scrollable {
  overflow: hidden;
}

/* line 68, ../sass/partials/_basicstyles.scss */
.button, .option {
  color: white;
  background: #E84855;
  border: 0;
  border-radius: 1.5em;
  padding: .7vh 1vw .7vh 1vh;
  width: fit-content;
  text-align: center;
}
/* line 77, ../sass/partials/_basicstyles.scss */
.button:hover, .option:hover, .button:active, .option:active {
  background: #F46A75;
}
/* line 80, ../sass/partials/_basicstyles.scss */
.button:focus, .option:focus {
  background: #D32C3A;
}

/* line 85, ../sass/partials/_basicstyles.scss */
input, textarea {
  margin: 1.5vh;
  padding: .75vh;
  border-radius: 1.5vw;
  border: transparent solid .2em;
}
/* line 90, ../sass/partials/_basicstyles.scss */
input:focus, textarea:focus, input:active, textarea:active {
  border: #E84855 solid 0.2em;
}

/* line 95, ../sass/partials/_basicstyles.scss */
.main-container {
  padding: 0 2vw 4vh 2vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
/* line 106, ../sass/partials/_basicstyles.scss */
.main-container h1 {
  font-weight: 400;
  font-size: 2.5em;
}
/* line 111, ../sass/partials/_basicstyles.scss */
.main-container hr {
  height: .1em;
  border: 0;
  color: #C7C7C7;
  background-color: #C7C7C7;
}

/* line 119, ../sass/partials/_basicstyles.scss */
.stats {
  display: flex;
  flex-direction: row;
  color: #7E7E7E;
  font-size: 1.5em;
}

/* line 125, ../sass/partials/_basicstyles.scss */
.stats span {
  font-size: 3rem;
  font-weight: 500;
  margin-top: .2em;
}

/* line 131, ../sass/partials/_basicstyles.scss */
.stats-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  padding-bottom: 1vh;
}

/* line 140, ../sass/partials/_basicstyles.scss */
.stats img {
  width: 11vw;
  padding-bottom: .2em;
}

/* line 145, ../sass/partials/_basicstyles.scss */
.button-group-horizontal {
  padding: 7vh 2vw 4vh 2vw;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* line 151, ../sass/partials/_basicstyles.scss */
.button-group-horizontal .button, .button-group-horizontal .option {
  padding: .5em 1em .5em 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/* line 158, ../sass/partials/_basicstyles.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* line 166, ../sass/partials/_basicstyles.scss */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* line 174, ../sass/partials/_basicstyles.scss */
.avatar {
  border-radius: 50%;
  height: 10em;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 0;
  margin: 0;
  transform: translate(0, -50%);
  position: absolute;
  z-index: 0;
  transition: opacity 0.5s linear;
}

/* line 190, ../sass/partials/_basicstyles.scss */
.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}

/* line 195, ../sass/partials/_basicstyles.scss */
.profile-container, .task-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-right: 4vw;
  padding-top: 5em;
}
/* line 203, ../sass/partials/_basicstyles.scss */
.profile-container h1, .task-container h1 {
  font-size: 2em;
  line-height: 2em;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 210, ../sass/partials/_basicstyles.scss */
.profile-container h4, .task-container h4 {
  color: #7E7E7E;
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-weight: 400;
  margin-top: -0.5em;
}
/* line 219, ../sass/partials/_basicstyles.scss */
.profile-container .main-container, .task-container .main-container {
  width: 90%;
}

/* line 224, ../sass/partials/_basicstyles.scss */
.avatar + .main-container {
  padding-top: 4em;
}

/* line 228, ../sass/partials/_basicstyles.scss */
.flex-start {
  justify-self: flex-start;
}

/* line 232, ../sass/partials/_basicstyles.scss */
.task-container {
  margin: auto;
  margin-top: 11vh;
  width: 70%;
}
/* line 238, ../sass/partials/_basicstyles.scss */
.task-container .main-container {
  padding-right: 4em;
  padding-left: 4em;
  padding-bottom: 2em;
}

/* line 245, ../sass/partials/_basicstyles.scss */
.owner {
  color: #7E7E7E;
  font-size: 1.2em;
}

/* line 250, ../sass/partials/_basicstyles.scss */
.padding {
  width: 90%;
  padding-top: 2em;
  font-size: 1.2rem !important;
}
/* line 256, ../sass/partials/_basicstyles.scss */
.padding .skills {
  width: 50%;
}

/* line 261, ../sass/partials/_basicstyles.scss */
.description {
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 2em;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.3em;
  padding-left: 3em;
  margin-left: 2em;
  width: 100%;
}

/* line 274, ../sass/partials/_basicstyles.scss */
.info {
  text-align: justify;
  padding-bottom: 1em;
  width: 100%;
}

/* line 282, ../sass/partials/_basicstyles.scss */
.fob {
  border-radius: 50%;
  position: fixed;
  height: 3.5em;
  width: 3.5em;
  bottom: 4vh;
  right: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}
/* line 296, ../sass/partials/_basicstyles.scss */
.fob .plus {
  font-size: 3em;
  padding: 0;
  padding-bottom: .12em;
  margin: 0;
}

/* line 304, ../sass/partials/_basicstyles.scss */
.options-group {
  display: flex;
  flex-direction: row;
}

/* line 309, ../sass/partials/_basicstyles.scss */
.option {
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
  cursor: pointer;
  color: #7E7E7E;
  background: none;
  margin: .5em;
}
/* line 319, ../sass/partials/_basicstyles.scss */
.option:hover {
  background: #E84855;
  color: white;
}
/* line 324, ../sass/partials/_basicstyles.scss */
.option:focus {
  background: #E84855;
  color: white;
}

/* line 330, ../sass/partials/_basicstyles.scss */
.selected-option {
  background: #E84855;
  color: white;
}

/* line 336, ../sass/partials/_basicstyles.scss */
.team-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
  overflow-x: hidden;
}
/* line 345, ../sass/partials/_basicstyles.scss */
.team-container h1 {
  font-size: 2em;
  line-height: 2em;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 352, ../sass/partials/_basicstyles.scss */
.team-container h4 {
  color: #7E7E7E;
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-weight: 400;
  margin-top: -0.5em;
}
/* line 361, ../sass/partials/_basicstyles.scss */
.team-container img {
  border-radius: 50%;
  height: 10em;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

/* line 371, ../sass/partials/_basicstyles.scss */
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
}

/* line 379, ../sass/partials/_basicstyles.scss */
.center-self {
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-self: center !important;
  align-self: center !important;
}

/* line 387, ../sass/partials/_basicstyles.scss */
.finish-date, .state {
  color: #7E7E7E;
  padding-top: 0;
  margin-top: 0;
  font-size: 1.5em;
}

/* line 394, ../sass/partials/_basicstyles.scss */
.no-padding {
  padding-bottom: 0.2em;
  margin-bottom: 0;
}

/* line 399, ../sass/partials/_basicstyles.scss */
.admin {
  width: 100%;
}

/* line 403, ../sass/partials/_basicstyles.scss */
.error {
  color: red;
  font-weight: 500;
}

/* line 409, ../sass/partials/_basicstyles.scss */
#modal-skills .modal-content {
  min-width: 25vw;
}

/* line 419, ../sass/partials/_basicstyles.scss */
#search-skills-form input, #search-skills-form textarea {
  background: #F4F4F4;
  width: 25vw;
}

/* line 425, ../sass/partials/_basicstyles.scss */
.button-add {
  padding: .4em .8em .4em .8em;
  text-align: center;
  float: right;
}

/* line 431, ../sass/partials/_basicstyles.scss */
#close-button {
  padding: .4em .8em .4em .8em;
  text-align: center;
}

/* line 436, ../sass/partials/_basicstyles.scss */
#modal-error {
  z-index: 5;
}
/* line 438, ../sass/partials/_basicstyles.scss */
#modal-error .question {
  font-size: 1.3em;
}

/* line 443, ../sass/partials/_basicstyles.scss */
.skills-task {
  width: 100%;
}

/* line 447, ../sass/partials/_basicstyles.scss */
.options-task, .options-assigment {
  align-self: flex-end;
  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: row;
}

/* line 455, ../sass/partials/_basicstyles.scss */
#content-confirm {
  width: 30vw;
}
/* line 458, ../sass/partials/_basicstyles.scss */
#content-confirm .button, #content-confirm .option {
  padding-top: .2em;
  padding-bottom: .2em;
}

/* line 471, ../sass/partials/_basicstyles.scss */
.dark-input {
  background: #F4F4F4;
}

/* line 475, ../sass/partials/_basicstyles.scss */
#skills-details {
  font-size: 1.1em;
  padding-bottom: .5em;
  width: 100%;
}

/* line 485, ../sass/partials/_basicstyles.scss */
#skills-details-box {
  overflow-x: auto;
  padding: 1em;
  height: 30vh;
}

/* line 491, ../sass/partials/_basicstyles.scss */
.link-back {
  color: #E84855;
}
/* line 494, ../sass/partials/_basicstyles.scss */
.link-back:hover, .link-backactive {
  color: #63B5ED;
}

/* line 500, ../sass/partials/_basicstyles.scss */
.change-password input[type=password], .change-password textarea[type=password] {
  background: #F4F4F4;
}
/* line 504, ../sass/partials/_basicstyles.scss */
.change-password .button, .change-password .option {
  padding: .4em .8em .4em .8em;
}

/* line 509, ../sass/partials/_basicstyles.scss */
.logout {
  text-decoration: none;
}

/* line 514, ../sass/partials/_basicstyles.scss */
#modal-info .question, #modal-info-total .question {
  font-size: 1.3em;
}
/* line 517, ../sass/partials/_basicstyles.scss */
#modal-info .modal-content, #modal-info-total .modal-content {
  width: 30vw;
}

/* line 525, ../sass/partials/_basicstyles.scss */
#modal-info-total .modal-content {
  width: 40vw;
}

/* line 531, ../sass/partials/_basicstyles.scss */
#modal-add-person label {
  margin-left: 1em;
}

/* line 536, ../sass/partials/_basicstyles.scss */
.active-card {
  color: #E84855 !important;
}

/* line 542, ../sass/partials/_basicstyles.scss */
.assets-box #search-result, .assets-box #search-result-simulation {
  top: 29vh;
  margin-left: 0;
  width: 14.5%;
}

/* line 549, ../sass/partials/_basicstyles.scss */
.options-assigment {
  margin-top: 2vh;
  justify-self: flex-end;
  float: right;
  right: 10vw;
}

/* line 565, ../sass/partials/_basicstyles.scss */
#swap {
  display: none;
}

/* line 570, ../sass/partials/_basicstyles.scss */
#modal-text .modal-content {
  width: fit-content;
}
/* line 573, ../sass/partials/_basicstyles.scss */
#modal-text .modal-content .question {
  text-align: center;
  font-size: 1.2em;
}
/* line 577, ../sass/partials/_basicstyles.scss */
#modal-text .modal-content .question .arrow {
  color: #E84855;
  padding-right: 1em;
  padding-left: 1em;
}

/* line 586, ../sass/partials/_basicstyles.scss */
.alert-icon {
  cursor: pointer;
  padding-right: .3em;
  color: red;
  font-weight: 500;
  font-size: 1.2em;
}
/* line 593, ../sass/partials/_basicstyles.scss */
.alert-icon:hover {
  color: #9ED285;
}

/* line 598, ../sass/partials/_basicstyles.scss */
#name-h {
  display: flex;
  flex-direction: row;
  border: red solid 3px;
}

/* line 604, ../sass/partials/_basicstyles.scss */
.task-list, .skills-list {
  list-style-type: square;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* line 610, ../sass/partials/_basicstyles.scss */
.state {
  color: #E84855;
}
/* line 614, ../sass/partials/_basicstyles.scss */
.state:hover {
  color: #63B5ED;
}

/* line 623, ../sass/partials/_basicstyles.scss */
.people-in-project-list {
  width: 100%;
}

/* line 628, ../sass/partials/_basicstyles.scss */
.container-used {
  width: 80% !important;
}

/* line 633, ../sass/partials/_basicstyles.scss */
#search-result-simulation {
  top: 24vh !important;
}

/* line 643, ../sass/partials/_basicstyles.scss */
.help-section .header-help {
  font-size: 1.3em;
  margin-bottom: 0;
  text-align: left;
  color: #000000;
}
/* line 649, ../sass/partials/_basicstyles.scss */
.help-section .header-help:before {
  font-size: 2em;
  content: '•';
  vertical-align: -10%;
  margin-right: .2em;
  color: #9ED285;
}

/* line 659, ../sass/partials/_basicstyles.scss */
.help-container {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 80%;
  margin-top: 2em;
  font-size: 1.3em;
  color: #7E7E7E;
}

/* line 5, ../sass/partials/_modules.scss */
#login-form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
  width: 25vw;
}
/* line 14, ../sass/partials/_modules.scss */
#login-form form {
  width: 100%;
}
/* line 18, ../sass/partials/_modules.scss */
#login-form input, #login-form textarea {
  width: 80%;
}
/* line 22, ../sass/partials/_modules.scss */
#login-form .button, #login-form .option {
  padding-left: 2vw;
  padding-right: 2vw;
  width: auto;
  border: transparent solid .2em;
  margin-top: 2vh;
}
/* line 28, ../sass/partials/_modules.scss */
#login-form .button:focus, #login-form .option:focus, #login-form .button:active, #login-form .option:active {
  border: transparent solid .2em;
}

/* line 34, ../sass/partials/_modules.scss */
#title {
  color: white;
  text-transform: uppercase;
  font-size: 3.5em;
  margin-bottom: 0.5em;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}

/* line 47, ../sass/partials/_modules.scss */
.help {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 53, ../sass/partials/_modules.scss */
.help .menu-index {
  position: absolute;
  right: -17vh;
  top: -17vh;
  z-index: 100;
  width: 34vh;
  height: 34vh;
  background: #9ED285;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #9ED285, 0 0 0 0 #9ED285;
  cursor: pointer;
}

/* line 68, ../sass/partials/_modules.scss */
.help .icon {
  color: white;
  font-size: 2em;
  position: fixed;
  top: 3.5vh;
  right: 2vh;
  width: 5vh;
  height: .5vh;
  background: transparent;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* line 84, ../sass/partials/_modules.scss */
.help input, .help textarea {
  display: none;
}

/* line 88, ../sass/partials/_modules.scss */
.help .icon:after {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
}

/* line 99, ../sass/partials/_modules.scss */
.help .icon:after {
  bottom: -10px;
}

/* line 103, ../sass/partials/_modules.scss */
.help input:checked + .menu-index, .help textarea:checked + .menu-index {
  box-shadow: 0 0 0 100vw #9ED285, 0 0 0 100vh #9ED285;
  border-radius: 0;
}

/* line 108, ../sass/partials/_modules.scss */
.help input:checked + .menu-index .icon, .help textarea:checked + .menu-index .icon {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: white;
  color: transparent;
  top: 5vh;
  right: 3vh;
}
/* line 115, ../sass/partials/_modules.scss */
.help input:checked + .menu-index .icon:hover, .help textarea:checked + .menu-index .icon:hover, .help input:checked + .menu-index .icon:hover:after, .help textarea:checked + .menu-index .icon:hover:after {
  background: #E84855 !important;
}

/* line 120, ../sass/partials/_modules.scss */
.help input:checked + .menu-index .icon:after, .help textarea:checked + .menu-index .icon:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  background: white;
}

/* line 127, ../sass/partials/_modules.scss */
.help input:checked + .menu-index + ul, .help textarea:checked + .menu-index + ul {
  opacity: 1;
}

/* line 131, ../sass/partials/_modules.scss */
.help ul {
  z-index: 200;
  position: absolute;
  top: 45vh;
  right: 45vw;
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  list-style-type: none;
  font-size: 2em;
  color: white;
  padding: 0;
  margin: 0;
}
/* line 148, ../sass/partials/_modules.scss */
.help ul li {
  padding-bottom: .5em;
}
/* line 151, ../sass/partials/_modules.scss */
.help ul li a {
  margin: 1em;
  padding: 0;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
/* line 157, ../sass/partials/_modules.scss */
.help ul li a:hover, .help ul li a:active {
  color: #E84855;
}

/* line 163, ../sass/partials/_modules.scss */
.icon:hover {
  color: #E84855;
}

/* line 171, ../sass/partials/_modules.scss */
nav {
  background: #63B5ED;
  height: 3.4em;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  z-index: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/* line 185, ../sass/partials/_modules.scss */
#menu-toggle {
  opacity: 0;
}

/* line 189, ../sass/partials/_modules.scss */
#menu-toggle:checked + .menu-icon > span {
  transform: rotate(45deg);
}

/* line 193, ../sass/partials/_modules.scss */
#menu-toggle:checked + .menu-icon > span::before {
  top: 0;
  transform: rotate(0deg);
}

/* line 198, ../sass/partials/_modules.scss */
#menu-toggle:checked + .menu-icon > span::after {
  top: 0;
  transform: rotate(90deg);
}

/* line 203, ../sass/partials/_modules.scss */
#menu-toggle:checked ~ .menu-box {
  left: 0 !important;
}

/* line 207, ../sass/partials/_modules.scss */
.menu-icon {
  position: fixed;
  top: 1.5em;
  left: 1.7vw;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  z-index: 3;
  color: white;
}

/* line 218, ../sass/partials/_modules.scss */
.menu-icon > span,
.menu-icon > span::before,
.menu-icon > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: .3vh;
  background-color: white;
  transition-duration: .25s;
}

/* line 229, ../sass/partials/_modules.scss */
.menu-icon span:hover, .menu-icon span:hover:after, .menu-icon span:hover:before {
  background: #E84855;
}

/* line 233, ../sass/partials/_modules.scss */
nav input:checked + .menu-icon span:before, nav textarea:checked + .menu-icon span:before, nav input:checked + .menu-icon span:after, nav textarea:checked + .menu-icon span:after {
  background-color: #9ED285;
}

/* line 237, ../sass/partials/_modules.scss */
nav input:checked + .menu-icon span:hover:before, nav textarea:checked + .menu-icon span:hover:before, nav input:checked + .menu-icon span:hover:after, nav textarea:checked + .menu-icon span:hover:after {
  background-color: #E84855;
}

/* line 241, ../sass/partials/_modules.scss */
.menu-icon > span::before {
  content: '';
  top: -8px;
}

/* line 246, ../sass/partials/_modules.scss */
.menu-icon > span::after {
  content: '';
  top: 8px;
}

/* line 251, ../sass/partials/_modules.scss */
.menu-box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: .25s;
  color: #7E7E7E;
  z-index: 2;
}

/* line 268, ../sass/partials/_modules.scss */
.menu-item {
  display: block;
  padding: 12px 24px;
  font-size: 1.6em;
  font-weight: 400;
  text-decoration: none;
  transition-duration: .25s;
  color: #7E7E7E;
}

/* line 278, ../sass/partials/_modules.scss */
.menu-item:hover {
  color: #E84855;
}

/* line 282, ../sass/partials/_modules.scss */
.active, .active-card {
  color: #9ED285;
  font-weight: 500;
}

/* line 287, ../sass/partials/_modules.scss */
nav h3 {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 1.5em;
  margin-left: 2em;
}

/* line 296, ../sass/partials/_modules.scss */
.logout {
  display: block;
  justify-self: flex-end;
  color: white;
  margin-right: 1em;
  cursor: pointer;
}
/* line 302, ../sass/partials/_modules.scss */
.logout:hover {
  color: #E84855;
}

/* line 307, ../sass/partials/_modules.scss */
.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  background: rgba(106, 106, 106, 0.5);
  display: none;
}

/* line 318, ../sass/partials/_modules.scss */
nav input:checked ~ .overlay, nav textarea:checked ~ .overlay {
  display: block;
}

/* line 322, ../sass/partials/_modules.scss */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
/* line 331, ../sass/partials/_modules.scss */
.nav-container .back-icon {
  justify-self: flex-start !important;
  height: 1.5em;
  width: 2.5em;
  margin-left: 1em;
  cursor: pointer;
  background-color: white;
  -webkit-mask: url("../../img/back.svg") no-repeat center;
  mask: url("../../img/back.svg") no-repeat center;
}
/* line 341, ../sass/partials/_modules.scss */
.nav-container .back-icon:hover {
  background: #E84855;
}

/* line 351, ../sass/partials/_modules.scss */
.skills {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
}

/* line 363, ../sass/partials/_modules.scss */
.skill-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: fit-content;
  font-size: 1.2em;
  padding: 0;
}

/* line 375, ../sass/partials/_modules.scss */
.skill-indicator, .skill-indicator-edit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 5rem;
  line-height: 5rem;
  padding: 0;
  margin: 0;
}

/* line 390, ../sass/partials/_modules.scss */
.skill-name {
  color: #7E7E7E;
  padding: 0;
  margin: 0;
  margin-bottom: -1.3em;
  justify-self: flex-start;
  align-self: flex-start;
}

/* line 400, ../sass/partials/_modules.scss */
.delete-skill {
  font-size: 5rem;
  margin-left: .3em;
  color: red;
  cursor: pointer;
}
/* line 406, ../sass/partials/_modules.scss */
.delete-skill:hover {
  color: #63B5ED;
}

/* line 411, ../sass/partials/_modules.scss */
.skill-point-full, .skill-point-normal, .skill-point-normal-edit, .skill-point-full-edit {
  padding: 0;
  margin: 0;
}

/* line 416, ../sass/partials/_modules.scss */
.skill-point-full {
  color: #E84855;
}

/* line 421, ../sass/partials/_modules.scss */
.skill-point-normal, .skill-point-normal-edit {
  color: #C7C7C7;
}

/* line 426, ../sass/partials/_modules.scss */
.more {
  color: #E84855;
  font-size: 1.2em;
  text-align: right;
  width: 100%;
  align-self: flex-end;
  justify-content: flex-end;
}
/* line 435, ../sass/partials/_modules.scss */
.more button {
  color: #E84855;
  float: right;
  border: none;
  background: none;
  text-decoration: underline;
}
/* line 442, ../sass/partials/_modules.scss */
.more button:hover {
  color: #63B5ED;
}

/* line 448, ../sass/partials/_modules.scss */
.skill-point-normal-edit {
  cursor: pointer;
}
/* line 452, ../sass/partials/_modules.scss */
.skill-point-normal-edit:hover {
  color: #E84855;
}

/* line 457, ../sass/partials/_modules.scss */
.skill-point-full-edit {
  color: #9ED285;
  cursor: pointer;
}
/* line 462, ../sass/partials/_modules.scss */
.skill-point-full-edit:hover {
  color: #E84855;
}

/* Dragula CSS  */
/* line 474, ../sass/partials/_modules.scss */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

/* line 482, ../sass/partials/_modules.scss */
.gu-hide {
  display: none !important;
}

/* line 486, ../sass/partials/_modules.scss */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* line 493, ../sass/partials/_modules.scss */
.gu-transit {
  opacity: 0.2;
}

/* line 498, ../sass/partials/_modules.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 504, ../sass/partials/_modules.scss */
.drag-container {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  margin-bottom: 0;
}

/* line 513, ../sass/partials/_modules.scss */
.drag-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}

/* line 523, ../sass/partials/_modules.scss */
.drag-column {
  overflow: hidden;
  margin: 0.5em;
  margin-top: 0;
  width: 33%;
}
/* line 529, ../sass/partials/_modules.scss */
.drag-column h4 {
  font-size: 1.7em;
  margin: 0;
  font-weight: 400;
  color: #7E7E7E;
}
/* line 536, ../sass/partials/_modules.scss */
.drag-column img {
  margin-right: 1.5em;
}

/* line 549, ../sass/partials/_modules.scss */
.drag-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* line 556, ../sass/partials/_modules.scss */
.drag-inner-list {
  min-height: 50vh;
  padding: 2em 3em 2em 3em;
  height: 100%;
}

/* line 562, ../sass/partials/_modules.scss */
.drag-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: fit-content;
  background: #F4F4F4;
  cursor: pointer;
  border: transparent solid 2px;
  margin-bottom: 2em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  padding: .4em;
}
/* line 576, ../sass/partials/_modules.scss */
.drag-item.is-moving {
  border: #E84855 solid 2px;
}
/* line 580, ../sass/partials/_modules.scss */
.drag-item:hover {
  border: #E84855 solid 2px;
}
/* line 584, ../sass/partials/_modules.scss */
.drag-item h5 {
  font-weight: 400;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
/* line 592, ../sass/partials/_modules.scss */
.drag-item .owner {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
/* line 599, ../sass/partials/_modules.scss */
.drag-item .details {
  color: #E84855;
  text-decoration: underline;
  align-self: flex-end;
}
/* line 604, ../sass/partials/_modules.scss */
.drag-item .details:hover {
  color: #63B5ED;
}

/* line 610, ../sass/partials/_modules.scss */
.board {
  width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  margin-top: 1em;
}

/* line 619, ../sass/partials/_modules.scss */
.vr {
  height: 100%;
  width: 0.1em;
  border: 0;
  margin-top: 0.5vh;
  color: #C7C7C7;
  background-color: #C7C7C7;
}

/* line 628, ../sass/partials/_modules.scss */
.main-board {
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* line 640, ../sass/partials/_modules.scss */
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 1em;
  width: 100%;
  padding-left: 2em;
  z-index: 0;
}
/* line 651, ../sass/partials/_modules.scss */
.search-bar input, .search-bar textarea {
  background: #F4F4F4;
  padding-left: 3em;
  width: 15vw;
}
/* line 657, ../sass/partials/_modules.scss */
.search-bar img {
  margin-right: -3em;
  width: 1.5em;
  justify-self: flex-start;
  z-index: 1;
}
/* line 664, ../sass/partials/_modules.scss */
.search-bar .button, .search-bar .option {
  padding-left: 1em;
  padding-right: 1em;
}

/* line 670, ../sass/partials/_modules.scss */
#search-result, #search-result-simulation {
  position: absolute;
  z-index: 1;
  background: white;
  margin: 0;
  margin-left: 1vw;
  padding: 0;
  width: 18%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  max-height: 25vh;
  overflow-y: auto;
}
/* line 682, ../sass/partials/_modules.scss */
#search-result li, #search-result-simulation li {
  cursor: pointer;
}

/* line 687, ../sass/partials/_modules.scss */
.search-section {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* line 692, ../sass/partials/_modules.scss */
.search-result-list {
  width: fit-content;
  padding-top: 0;
  margin-top: 0;
}

/* line 699, ../sass/partials/_modules.scss */
.search-result-list li {
  padding: .25em .8em .25em .8em;
  text-align: left;
  width: 100% !important;
}
/* line 704, ../sass/partials/_modules.scss */
.search-result-list li a {
  text-decoration: none;
  color: #000000;
}
/* line 707, ../sass/partials/_modules.scss */
.search-result-list li a:hover, .search-result-list li a:active {
  color: #E84855;
}

/* line 713, ../sass/partials/_modules.scss */
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

/* line 722, ../sass/partials/_modules.scss */
.list-item {
  margin: 2em;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 730, ../sass/partials/_modules.scss */
.list-item img {
  border-radius: 50%;
  height: 7em;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border: transparent solid 3px;
}
/* line 740, ../sass/partials/_modules.scss */
.list-item h4 {
  font-weight: 300;
  padding-top: 0;
  margin-top: .5em;
}

/* line 747, ../sass/partials/_modules.scss */
.border-hover {
  color: #E84855 !important;
}
/* line 750, ../sass/partials/_modules.scss */
.border-hover .circle-number {
  border: #E84855 solid 3px !important;
}
/* line 754, ../sass/partials/_modules.scss */
.border-hover img {
  border: #E84855 solid 3px !important;
}
/* line 758, ../sass/partials/_modules.scss */
.border-hover h4 {
  color: #E84855 !important;
}

/* line 767, ../sass/partials/_modules.scss */
.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: #C7C7C7 solid 0.15em;
  text-align: center;
}

/* line 780, ../sass/partials/_modules.scss */
.option-card {
  color: #7E7E7E;
  cursor: pointer;
  padding: 1em;
  font-size: 1.3em;
  padding-bottom: 0;
  width: fit-content;
  text-align: center;
}
/* line 789, ../sass/partials/_modules.scss */
.option-card:hover {
  color: #E84855;
}
/* line 793, ../sass/partials/_modules.scss */
.option-card-active {
  color: #E84855;
}

/* line 798, ../sass/partials/_modules.scss */
.drag-container-assigment-main {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* line 805, ../sass/partials/_modules.scss */
.drag-container-assigment {
  width: 100%;
  padding-bottom: 1.5em;
}

/* line 810, ../sass/partials/_modules.scss */
.drag-list-assigment, .drag-list-simulation, .people-in-project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  height: 50vh;
  min-width: 100%;
  overflow-y: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 824, ../sass/partials/_modules.scss */
.main-assigment {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1em;
}
/* line 832, ../sass/partials/_modules.scss */
.main-assigment .main-container {
  padding-top: 3em;
  justify-self: flex-start;
  align-self: flex-start;
}

/* line 839, ../sass/partials/_modules.scss */
.profile-item {
  padding: 0.5em;
  margin: 0;
}
/* line 842, ../sass/partials/_modules.scss */
.profile-item img {
  border-radius: 50%;
  height: 4em;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border: transparent solid 3px;
}
/* line 852, ../sass/partials/_modules.scss */
.profile-item h5 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: #7E7E7E;
  font-size: 1em;
}

/* line 861, ../sass/partials/_modules.scss */
.task-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: .5em;
  margin: 0;
}
/* line 870, ../sass/partials/_modules.scss */
.task-item h5 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: #7E7E7E;
  font-size: 1em;
  max-width: 7em;
}

/* line 880, ../sass/partials/_modules.scss */
.circle-number {
  border-radius: 50%;
  background: #9ED285;
  color: white;
  height: 3.5em;
  width: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent solid 3px !important;
}
/* line 891, ../sass/partials/_modules.scss */
.circle-number .number {
  max-font-size: 1.5em;
  font-size: 1.5em;
  line-height: unset;
  height: fit-content;
  width: 90%;
}

/* line 900, ../sass/partials/_modules.scss */
.assigment-left, .assigment-right {
  min-height: 50vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 908, ../sass/partials/_modules.scss */
.assigment-container-graph, .container-used {
  width: 50%;
}
/* line 911, ../sass/partials/_modules.scss */
.assigment-container-graph h2, .container-used h2 {
  color: #7E7E7E;
  font-weight: 300;
  font-size: 1.5em;
  padding-bottom: 1em;
  margin-bottom: 0;
}

/* line 920, ../sass/partials/_modules.scss */
.assets-box {
  width: 25%;
  max-height: 80%;
}
/* line 924, ../sass/partials/_modules.scss */
.assets-box .search-bar {
  padding-top: 0;
  margin-top: 0;
  width: 90%;
}
/* line 928, ../sass/partials/_modules.scss */
.assets-box .search-bar input, .assets-box .search-bar textarea {
  width: 100%;
}

/* line 934, ../sass/partials/_modules.scss */
.drag-container-assigment + .button, .drag-container-assigment + .option {
  padding-left: 1em;
  padding-right: 1em;
  align-self: flex-end;
}

/* line 944, ../sass/partials/_modules.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  height: 100vh;
  z-index: 3;
  /* Sit on top */
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  overflow: auto;
  /* Enable scroll if needed */
  background: rgba(106, 106, 106, 0.5);
}

/* line 960, ../sass/partials/_modules.scss */
.modal-content {
  width: fit-content;
  background-color: white;
  margin: 15% auto;
  padding: 2em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/* line 968, ../sass/partials/_modules.scss */
.skills-modal {
  height: 45vh;
  overflow-x: auto;
  padding-right: 1em;
  padding-left: 1em;
  width: fit-content;
}

/* line 976, ../sass/partials/_modules.scss */
.close {
  color: #9ED285;
  float: right;
  font-size: 2em;
  font-weight: bold;
  margin-top: -1em;
  cursor: pointer;
  justify-self: flex-end;
  align-self: flex-end;
}
/* line 987, ../sass/partials/_modules.scss */
.close:hover, .close:active, .close:focus {
  color: #E84855;
}

/* line 992, ../sass/partials/_modules.scss */
.question {
  font-size: 1.5em;
}
/* line 995, ../sass/partials/_modules.scss */
.question .button-group-horizontal {
  padding: 0;
  margin: 0;
  padding-top: .5em;
}
/* line 1001, ../sass/partials/_modules.scss */
.question .button, .question .option {
  font-size: .6em;
  padding: .3em .7em .3em .7em;
}

/* line 1007, ../sass/partials/_modules.scss */
.no {
  background: white;
  border: #E84855 solid 3px;
  color: #000000;
}
/* line 1012, ../sass/partials/_modules.scss */
.no:hover, .no:active {
  background: #F46A75;
  border: #F46A75 solid 3px;
  color: white;
}
/* line 1018, ../sass/partials/_modules.scss */
.no:focus {
  background: #D32C3A;
  border: #D32C3A solid 3px;
  color: white;
}

/* line 1025, ../sass/partials/_modules.scss */
.profile-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}
/* line 1034, ../sass/partials/_modules.scss */
.profile-icons img {
  border-radius: 50%;
  width: 6em;
  aspect-ratio: 1/1;
  border: transparent solid 3px;
  margin: 1em;
}
/* line 1041, ../sass/partials/_modules.scss */
.profile-icons img:hover {
  border: #E84855 solid 3px;
}
/* line 1046, ../sass/partials/_modules.scss */
.profile-icons .chosen {
  border: #E84855 solid 3px;
}
/* line 1050, ../sass/partials/_modules.scss */
.profile-icons .icon-element-img {
  cursor: pointer;
}

/* line 1056, ../sass/partials/_modules.scss */
#modal-icons .modal-content {
  width: 30vw;
}
/* line 1060, ../sass/partials/_modules.scss */
#modal-icons .button, #modal-icons .option {
  font-size: .7em;
}
/* line 1064, ../sass/partials/_modules.scss */
#modal-icons .button-group-horizontal {
  padding: 0;
  margin: 0;
  padding-top: .2em;
}

/* line 1071, ../sass/partials/_modules.scss */
.icons-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* line 1078, ../sass/partials/_modules.scss */
.edit-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* line 1083, ../sass/partials/_modules.scss */
.edit-skills img {
  height: 1.5em;
}

/* line 1088, ../sass/partials/_modules.scss */
#edit, #delete, #text-version, #accept-matching {
  color: #E84855;
  border: none;
  background: none;
  text-decoration: underline;
}
/* line 1094, ../sass/partials/_modules.scss */
#edit:hover, #delete:hover, #text-version:hover, #accept-matching:hover {
  color: #63B5ED;
}

/* line 1103, ../sass/partials/_modules.scss */
#modal-skills-edit {
  background: none;
}

/* line 1107, ../sass/partials/_modules.scss */
#new-skill {
  color: #E84855;
  border: none;
  background: none;
  text-decoration: underline;
}
/* line 1113, ../sass/partials/_modules.scss */
#new-skill:hover {
  color: #63B5ED;
}

/* line 1123, ../sass/partials/_modules.scss */
#modal-task-edit .button-group-horizontal {
  padding: 0;
  padding-top: 1.5em;
}
/* line 1128, ../sass/partials/_modules.scss */
#modal-task-edit .close {
  margin-right: -.5em;
}
/* line 1132, ../sass/partials/_modules.scss */
#modal-task-edit #skills-modal-edit {
  width: 90%;
}

/* line 1137, ../sass/partials/_modules.scss */
.inputs-column {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow-x: auto;
  width: 30vw;
}
/* line 1144, ../sass/partials/_modules.scss */
.inputs-column form {
  display: flex;
  flex-direction: column;
}
/* line 1149, ../sass/partials/_modules.scss */
.inputs-column #skills-modal-edit {
  height: fit-content;
  max-height: 20vh;
}
/* line 1154, ../sass/partials/_modules.scss */
.inputs-column .button, .inputs-column .option {
  font-size: .7em;
  padding: .3em .7em .3em .7em;
}

/* line 1161, ../sass/partials/_modules.scss */
#modal-add-person .inputs-column {
  height: fit-content;
}
/* line 1165, ../sass/partials/_modules.scss */
#modal-add-person .button-group-horizontal {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 1171, ../sass/partials/_modules.scss */
#search-result-assignee {
  position: absolute;
  z-index: 1;
  background: white;
  margin: 0;
  margin-left: 1vw;
  margin-top: 8%;
  padding: 0;
  width: 20%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  max-height: 25vh;
  overflow-y: auto;
}
/* line 1184, ../sass/partials/_modules.scss */
#search-result-assignee li {
  cursor: pointer;
}

/* line 1189, ../sass/partials/_modules.scss */
.skill-indicator-little {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  font-size: 1.1rem;
  line-height: 1.1rem;
  padding: .5em 0 .5em 0;
  margin: 0;
}
/* line 1201, ../sass/partials/_modules.scss */
.skill-indicator-little .skill-name {
  color: #000000;
}

@media only screen and (max-width: 900px) {
  /* line 3, ../sass/partials/_responsive.scss */
  .main-assigment {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
  }

  /* line 11, ../sass/partials/_responsive.scss */
  .main-container {
    padding: 0;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  /* line 19, ../sass/partials/_responsive.scss */
  .assets-box {
    width: 90%;
    margin-top: 15em;
  }

  /* line 24, ../sass/partials/_responsive.scss */
  .search-bar {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  /* line 33, ../sass/partials/_responsive.scss */
  #search-bar-input {
    width: 40%;
  }

  /* line 37, ../sass/partials/_responsive.scss */
  #search-result-simulation {
    top: 33vh !important;
    width: 38vw !important;
    margin-right: 15% !important;
  }

  /* line 43, ../sass/partials/_responsive.scss */
  .drag-container-assigment {
    height: fit-content;
  }

  /* line 47, ../sass/partials/_responsive.scss */
  .drag-list-simulation {
    height: fit-content;
  }

  /* line 51, ../sass/partials/_responsive.scss */
  .modal-content {
    max-height: 60vh;
    overflow-y: auto;
    width: 70vw !important;
  }

  /* line 57, ../sass/partials/_responsive.scss */
  .container-used {
    width: 100% !important;
  }

  /* line 61, ../sass/partials/_responsive.scss */
  .drag-container-assigment-main {
    width: 80% !important;
  }

  /* line 65, ../sass/partials/_responsive.scss */
  .center {
    width: 85%;
    margin: auto;
  }

  /* line 70, ../sass/partials/_responsive.scss */
  .no-padding {
    font-size: 1.8em !important;
  }

  /* line 74, ../sass/partials/_responsive.scss */
  .finish-date, .state {
    font-size: 1.4em;
  }

  /* line 78, ../sass/partials/_responsive.scss */
  .state {
    font-size: 1.4em;
  }

  /* line 82, ../sass/partials/_responsive.scss */
  .stats {
    padding-bottom: 1em;
  }
  /* line 85, ../sass/partials/_responsive.scss */
  .stats .stats-element {
    font-size: .8em;
  }
  /* line 88, ../sass/partials/_responsive.scss */
  .stats .stats-element span {
    font-size: 1.8em;
  }

  /* line 94, ../sass/partials/_responsive.scss */
  #new {
    font-size: .8em;
  }

  /* line 98, ../sass/partials/_responsive.scss */
  .drag-list {
    flex-direction: column;
  }

  /* line 102, ../sass/partials/_responsive.scss */
  .vr {
    display: none;
  }

  /* line 107, ../sass/partials/_responsive.scss */
  .drag-column img {
    width: 2em;
  }
  /* line 110, ../sass/partials/_responsive.scss */
  .drag-column h4 {
    font-size: 1.5em;
  }

  /* line 115, ../sass/partials/_responsive.scss */
  .drag-inner-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  /* line 124, ../sass/partials/_responsive.scss */
  .drag-column {
    width: 100%;
  }

  /* line 128, ../sass/partials/_responsive.scss */
  .drag-column-in-progress {
    border-bottom: #C7C7C7 solid 2px !important;
  }

  /* line 132, ../sass/partials/_responsive.scss */
  .drag-column-to-do {
    border-bottom: #C7C7C7 solid 2px !important;
  }

  /* line 136, ../sass/partials/_responsive.scss */
  .drag-item {
    width: 40%;
    margin-right: 1.1em;
  }

  /* line 142, ../sass/partials/_responsive.scss */
  .task-name {
    font-size: 1.2em !important;
  }

  /* line 146, ../sass/partials/_responsive.scss */
  .options-group {
    margin-top: 1em;
  }

  /* line 150, ../sass/partials/_responsive.scss */
  .inputs-column {
    width: 100%;
  }

  /* line 155, ../sass/partials/_responsive.scss */
  #modal-skills-new button {
    margin-right: 10%;
  }
  /* line 159, ../sass/partials/_responsive.scss */
  #modal-skills-new #search-bar-skills {
    width: 80%;
  }

  /* line 164, ../sass/partials/_responsive.scss */
  #search-bar-people {
    width: 70%;
  }

  /* line 168, ../sass/partials/_responsive.scss */
  #search-result, #search-result-simulation {
    top: 20vh !important;
    width: 45vw !important;
    margin-left: 2% !important;
  }

  /* line 174, ../sass/partials/_responsive.scss */
  .list-item img {
    width: 4.5em;
    height: 4.5em;
  }

  /* line 179, ../sass/partials/_responsive.scss */
  .list-item {
    margin: 1em;
  }

  /* line 183, ../sass/partials/_responsive.scss */
  .list {
    justify-content: center;
    padding-top: 2em;
  }

  /* line 188, ../sass/partials/_responsive.scss */
  .start {
    margin-top: 5%;
  }

  /* line 192, ../sass/partials/_responsive.scss */
  .generate-question {
    font-size: 1.2em;
  }

  /* line 196, ../sass/partials/_responsive.scss */
  .arrow {
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
  }

  /* line 201, ../sass/partials/_responsive.scss */
  #login-form {
    width: 60%;
  }
  /* line 203, ../sass/partials/_responsive.scss */
  #login-form input, #login-form textarea {
    width: 80%;
  }

  /* line 208, ../sass/partials/_responsive.scss */
  .margin-assign {
    padding-top: 0;
    margin-top: 0;
    width: 80%;
  }

  /* line 214, ../sass/partials/_responsive.scss */
  .no-top {
    padding-top: 0;
    margin-top: 0;
  }

  /* line 219, ../sass/partials/_responsive.scss */
  .drag-container-assigment-main {
    margin-top: 5em;
    padding-top: 0;
    justify-content: flex-start !important;
    align-content: flex-start !important;
    align-items: flex-start !important;
  }

  /* line 227, ../sass/partials/_responsive.scss */
  .assigment-container-graph, .container-used {
    margin-top: -4em;
    padding-top: 0;
  }

  /* line 232, ../sass/partials/_responsive.scss */
  .drag-list-assigment, .drag-list-simulation, .people-in-project-list {
    height: 25vh;
  }

  /* line 236, ../sass/partials/_responsive.scss */
  #swap {
    display: block;
    padding-right: .8em;
    padding-left: .8em;
    margin-top: 1.5em;
    float: right;
    margin-right: 2em;
  }

  /* line 245, ../sass/partials/_responsive.scss */
  .options-assigment {
    margin-top: 4em;
  }

  /* line 249, ../sass/partials/_responsive.scss */
  .not-visible {
    display: none;
  }

  /* line 253, ../sass/partials/_responsive.scss */
  .profile-flex {
    flex-direction: column;
  }

  /* line 257, ../sass/partials/_responsive.scss */
  .profile-container, .task-container {
    margin-top: 28em;
  }

  /* line 261, ../sass/partials/_responsive.scss */
  .delete-profile {
    margin-top: 1.5em;
  }

  /* line 265, ../sass/partials/_responsive.scss */
  #more {
    margin-right: -2em;
    font-size: .95em;
  }

  /* line 270, ../sass/partials/_responsive.scss */
  #stats-header {
    font-size: 1.8em;
  }

  /* line 274, ../sass/partials/_responsive.scss */
  .icon-element-img {
    height: 5em;
    width: 5em !important;
    margin: .5em !important;
  }

  /* line 281, ../sass/partials/_responsive.scss */
  #modal-icons button {
    padding-top: 0.2em;
    padding-bottom: .2em;
  }

  /* line 289, ../sass/partials/_responsive.scss */
  #skills-modal-display .skill-element .skill-indicator, #skills-modal-display .skill-element .skill-indicator-edit {
    font-size: 3.5em;
  }

  /* line 296, ../sass/partials/_responsive.scss */
  #modal-skills .modal-content {
    width: fit-content !important;
  }

  /* line 302, ../sass/partials/_responsive.scss */
  #modal-skills-edit .modal-content {
    width: fit-content !important;
  }
  /* line 307, ../sass/partials/_responsive.scss */
  #modal-skills-edit .skill-element .skill-indicator, #modal-skills-edit .skill-element .skill-indicator-edit {
    font-size: 3.5em;
  }
  /* line 312, ../sass/partials/_responsive.scss */
  #modal-skills-edit .delete-skill {
    margin-left: 0.2em;
  }

  /* line 317, ../sass/partials/_responsive.scss */
  .board {
    width: 100%;
  }

  /* line 322, ../sass/partials/_responsive.scss */
  .profile-skills #search-result, .profile-skills #search-result-simulation {
    top: 50vh !important;
  }

  /* line 328, ../sass/partials/_responsive.scss */
  .help-section .header-help {
    font-size: 1.2em;
  }
  /* line 331, ../sass/partials/_responsive.scss */
  .help-section .header-help:before {
    font-size: 1.8em;
  }

  /* line 337, ../sass/partials/_responsive.scss */
  .help-container {
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 1em;
    text-align: left;
  }
}
