<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
<%- include('./partials/navbar.ejs', {page: 'about'}) %>
<div class="filler"></div>
<main>
    <article class="main-container help-container">
        <section class="help-section">
            <h1 class="header-help">Główna funkcjonalność</h1>
            Narzędzie zostało stworzone, aby usprawnić przydział zadań oparty na kompetencjach.
            Dzięki wykorzystaniu algorytmiki, zostaje znaleziony optymalny przydział dla danego zestawu
            osób i zadań.
            Narzędzie ma na celu prezentację jak w praktyce może zostać wykorzystano problem przydziału.
        </section>
        <section class="help-section">
            <h1 class="header-help">Problem przydziału</h1>
            Narzędzie zostało stworzone, aby usprawnić przydział zadań oparty na kompetencjach.
        </section>
    </article>
</main>
</body>
</html>