<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
<% if (firstTime) { %>
    <div id="modal-info" class="modal">
        <div class="modal-content">
            <span  id="close-x" class="close">&times;</span>
            <div class="question">
                To twoje pierwsze logowanie. Zaleca się zmianę
                automatycznie wygenerowanego hasła. <br>
                <div class="button-group-horizontal">
                    <button id="close-button" class="button">Ok</button>
                </div>
            </div>
        </div>
    </div>
<% } %>
<%- include('./partials/navbar.ejs', {page: 'changePassword'}) %>
<!--<div class="filler"></div>-->
<main class="center">
    <article class="main-container">
        <form class="change-password" action="https://localhost:4000/new-password" method="POST">
            <input type="password" name="passwordOld" placeholder="Stare hasło" /> <br>
            <input type="password" name="passwordNew" placeholder="Nowe hasło" /> <br>
            <input type="password" name="passwordRepeat" placeholder="Hasło" />
            <% if (errors !== undefined) { %>
                <% for (let el of errors) { %>
                    <br>
                    <span class="error"> <%= el %></span>
                <% } %>
                <br>
            <% } else { %>
                <br>
            <% } %>
            <input class="button" type="submit" value="Zmień hasło" />
        </form>
    </article>
</main>
<script>
    let firstTime = <%= firstTime %>;
</script>
<script src="../js/change_password.js"></script>
</body>
</html>