<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
<div class="filler"></div>
<main class="center">
    <article class="main-container">
        <%= msg %>
    </article>
</main>
<script src="../js/main_panel.js"></script>
</body>
</html>