<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
<div class="filler"></div>
<main class="center">
    <article class="main-container">
        <%= msg %>
        <% if (msg === "Wymagane jest zalogowanie się") { %>
            <br> <a href='https://localhost:4000'>Przejdź do logowania</a>
       <% }%>
    </article>
</main>
<script src="../js/main_panel.js"></script>
</body>
</html>