<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
<%- include('./partials/navbar.ejs', {page: 'help'}) %>
<div class="filler"></div>
<main>
<!--    zawrzeć info co może admin -->
    <article class="main-container help-container">
        <section class="help-section">
            <h1 class="header-help">Tablica zadań</h1>
        </section>
        <section class="help-section">
            <h1 class="header-help">Wyświetlanie szczegółów zadań</h1>
        </section>
        <section class="help-section">
            <h1 class="header-help">Wyszukiwanie profili innych osób</h1>
        </section>
        <section class="help-section">
            <h1 class="header-help">Generowanie przydziału</h1>
        </section>
        <section class="help-section">
            <h1 class="header-help">Edycja profilu</h1>
        </section>
    </article>
</main>
</body>
</html>